body {
	font-family: 'Abril Fatface', cursive;
	color: #333;
	position: relative;
}

img {
	max-width: 100%;
	height: auto;
}

* {
	box-sizing: border-box;
}

a {
	color: $b;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
