@define-mixin as {
  @media (min-width: 530px) {
    @mixin-content;
  }
}

@define-mixin am {
	@media (min-width: 800px) {
		@mixin-content;
	}
}

@define-mixin al {
	@media (min-width: 1010px) {
		@mixin-content;
	}
}

@define-mixin clearfix {
	&::after {
		content: "";
		clear: both;
		display: table;
	}
}

@define-mixin link-colors {
	color: rgba($grey, .8);
	transition: all .15s ease-out;
	text-decoration: none;
	&:hover {
		color: $link-active;
	}
}